<ion-nav-bar></ion-nav-bar>
<ion-view view-title="{{drikke.name}}">

  <ion-nav-buttons side="right">  
    <div ng-controller="FavoriteCtrl"> 
         <button class="button button-icon ion-android-favorite-outline" 
              ng-disabled="{{data.isItemInFavorites(drikke)}}"  
              ng-click="addToFavorites({{drikke}})">
         </button>
    </div>

    <div ng-controller="ShareCtrl">
         <button class="button button-icon icon ion-android-share-alt"  
              ng-click="shareAnywhere()">        
         </button>
    </div>
  </ion-nav-buttons>


  <ion-content class="padding auto" >
    <img ng-src="{{drikke.image}}" style="width:100%">  

    <div class="card">
        <div class="item item-divider item-assertive">
          {{drikke.name}} (kr. {{drikke.price}},-)
        </div>
        <div class="item item-text-wrap">
          <div class="list list-inset">            
            <div class="item item-divider">
              Ingredienser
            </div>
            <div class="item">
              {{drikke.text}}
            </div>           
          </div>          
        </div>
     </div>
  </ion-content>

  
</ion-view>

