<ion-view view-title="Golden Crown">
   <ion-content>
    <div class="card">
      <div class="item item-text-wrap text-center">       
        <img src="img/gc.jpg" style ="width:100%;">
        <BR>          
           
        <h2 style ="color: red; font-bold:true"> Take away 15% rabat fra meny</h2>
        <BR>
        <h3> Apningstider</h3>

        <p> Ons - Lør : Kl.14:00 - 23:00</p>
        <p> Søn - man : Kl.14:00 - 23:00</p>        
        <h3> Tirsdag Stengt</h3>
        <BR>
        <p> NB : Kjøken stenger 45 minutter før. </p>
          
      </div>
    </div>  

     <div class="card">
      <div class="item item-text-wrap" ng-controller="EmailCtrl">  
       <div class="item item-divider" >Kontakt Oss </div>
        <a class="item item-icon-right" ng-href="tel:+47-33048070">             
                33 04 80 70
             <i class="icon ion-ios-telephone-outline"></i>
        </a>        
        <a class="item item-icon-right"  href="#" ng-click="sendFeedback()">            
                zhugezevan@goldencrown.no
             <i class="icon icon ion-email"></i>
        </a>
        <a class="item item-icon-right" href="#/app/about">            
                Storgata 17, 3182 Horten
             <i class="icon icon ion-ios-location-outline"></i>
        </a> 
      </div>
    </div>   
  </ion-content>
 
</ion-view>



