<ion-view view-title="Hoved Menu">
  <ion-content>
    <ion-list>
     <div class="row">
        <div class="col"> 
            <div class="card">
               <div class="item item-divider item-assertive">
                    Forrett
               </div>
               <div class="item item-text-wrap">
                    <a href="#/app/forretter" class="forrett-logo"></a>
               </div>     
            </div>
        </div>

        <div class="col"> 
            <div class="card">
               <div class="item item-divider item-assertive">
                    Hovedrett
               </div>
               <div class="item item-text-wrap">
                    <a href="#/app/hovedretter" class="hovedrett-logo"></a>
               </div>     
            </div>
        </div> 
     </div>     
     <div class="row">
        <div class="col"> 
             <div class="card">
               <div class="item item-divider item-assertive">
                    Dessert
               </div>
               <div class="item item-text-wrap">
                    <a href="#/app/desserter" class="dessert-logo"></a>
               </div>     
            </div>
        </div>
        <div class="col"> 
            <div class="card">
               <div class="item item-divider item-assertive">
                    Drikke
               </div>
               <div class="item item-text-wrap">
                   <a href="#/app/drikker" class="drikke-logo"></a>
               </div>     
            </div>
        </div>         
     </div>     
    </ion-list>
  </ion-content>
</ion-view>
